* {
	margin: 0;
	padding: 0;
}

h1 {
	padding: 1.5em 0;
}

h2 {
	padding: 1em 0;
}

p {
	padding: 0.5em 2em;
}

body {
	font-family: Helvetica,Arial,sans-serif;
    font-size: 100%;
    width: 99%;
    max-width: 960px;
    margin: 0px auto;
    background-image: -moz-linear-gradient(90deg,#ADD8E6 0%, #ADD8E6 30%, white 50%, #ADD8E6 80%); /*Firefox*/
	background-image: -webkit-linear-gradient(90deg,#ADD8E6 0%, #ADD8E6 30%, white 50%, #ADD8E6 80%); /*Chrome*/
	background-image: -o-linear-gradient(90deg,#ADD8E6 0%, #ADD8E6 30%, white 50%, #ADD8E6 80%); /*Opera*/
	background-image: linear-gradient(90deg,#ADD8E6 0%, #ADD8E6 30%, white 50%, #ADD8E6 80%); /*Internet Explorer*/

    
}
label {
	padding: 0.5em;
}

input {
	padding: 0.3em;
	color: blue;
}

input[type="radio"] {
  margin: 0.5em;
}

table{
	border: 1.5px solid blue; 
	margin: 1em 0em;
	float: left; 
}

th{
	border-bottom: 2px solid blue;
	padding: 0.5em;
	text-align: left; 
}

td {
	padding: 0.3em; 
}

tr:nth-child(even) {
    background-color: white;
}
button {
	padding: 0.5em;
}
aside {
	width: 26.875%;
	float: right;
	padding: 0 0 2.5% 2.5%;
}

